body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.outer{
    background-color: #1F2937;
    margin: 0px;
    height: 50px;
    align-content: center;

}
header, .hero, .features, .quote, footer{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.nav-items{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: #E5E7EB;

}
.logo{
    color: white;
    font-style: bold;
    font-size: 20px;
    font-weight: 800;
}
.heroouter{
    background-color: #1F2937;
    color: #E5E7EB;
    height: 300px;
    align-content: center;
    padding-bottom: 50px;
}
.hero{
    display: flex;
}
img{
    height: 200px;
    object-fit: cover;
    object-position: top;
    width: 400px;
    border-radius: 5px;
}
.hero-button{
    background-color: white;
    border: none;
    color: #1F2937;
    padding: 10px;
    border-radius: 5px;
}
.features-outer{
    height: 300px;
    align-content: center;
    padding-bottom: 50px;
}
.card{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.square{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3882f6;
}
.square svg{
    height: 50px;

}
h2{
    font-weight: 900;
    text-align: center;
    padding-bottom: 20px;
}
.card div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-outer{
    height: 300px;
    background-color: #e5e7eb;
}
.quote{
    display: block;
    text-align: center;
    padding-top: 70px;
}
h3{
    display: flex;
    justify-content: flex-end;
}
.quote p {
    font-weight: 300;
    font-size: 30px;
}
.cta-outer{
    height: 300px;
    display: flex;
    justify-content: center;
}
.blue-card{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    gap: 50px;
    height: 140px;
    padding: 10px;
}
.left-side{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.left-side p{
    margin-top: 0px;
}
.blue-card div button{
    padding: 10px;
    border-radius: 5px;
    margin: 50px;
    width: 100px;
    border: 0px;
}
.header3{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}
.cta{
    display: flex;
    align-items: center;
}
.footer{
    height: 50px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}